<p>loading: {{ manager.loading }}</p>
<button ng-click="manager.close()">popup close</button>
<ul>
    <li ng-repeat="window in manager.windows">
    <p>Window {{ window.id }}</p>
    <img src="{{ window.background }}">
    <ul>
      <li ng-repeat="control in window.controls">
        {{ control.id }}
        text: {{ control.text }}
        display: <img src="{{ control.display }}">
        <button ng-click="control.primaryAction.execute()" >p</button>
        <button ng-click="control.secondaryAction.execute()" >s</button>
      </li>
    </ul>
  </li>
</ul>
