<div class="mylife-overlay" ng-show="manager.loading">
  <img src="images/spinner.gif">
</div>
<div ng-repeat="window in manager.windows">

  <!-- TODO: size -->
  <div ng-show="$first" title="{{ window.id }}">
    <div class="mylife-overlay" ng-show="!$last"></div>
    <div ng-include="'views/window-content.html'"></div>
  </div>

  <!-- TODO: size and position -->
  <div ng-show="!$first" class="modal-content" title="{{ window.id }}">
    <div class="mylife-overlay" ng-show="!$last"></div>
    <div class="modal-header">
      <button ng-click="manager.close()" class="close">x</button>
      <h4 class="modal-title">&nbsp;</h4>
    </div>
    <div class="modal-body">
      <div ng-include="'views/window-content.html'"></div>
    </div>
  </div>
</div>
