<p>loading: {{ manager.loading }}</p>
<button ng-click="manager.close()">popup close</button>
<ul>
    <li ng-repeat="window in manager.windows">
    <p>Window {{ window.id }}; active: {{ $last }}</p>
    <img src="{{ window.background }}">
    <ul>
      <li ng-repeat="control in window.controls">
        <div title="{{ control.id }}"
             ng-class="{
               'control-button': utils.isControlActive(control),
               'control-inactive': !utils.isControlActive(control)
             }"
             input-handler="{
               's': control.primaryAction.execute,
               'l': control.secondaryAction.execute,
               'ss': control.secondaryAction.execute
             }">
          <div>
            <img ng-show="control.display" src="{{ control.display }}">
            <span ng-show="control.text">{{ control.text }}</span>
          <div>
        </div>
      </li>
    </ul>
  </li>
</ul>
