@import "bower_components/bootstrap/less/bootstrap.less";

.mylife-control {

  padding: 2px;
  display: table-cell;
  vertical-align: middle;

  > img {
    max-height: 100%;
    max-width: 100%;
  }

  > p {
    margin: auto;
  }
}

.mylife-control-button {
  .btn();
  .btn-default();

  .mylife-control();
}

.mylife-control-inactive {
  .mylife-control();
}